.App {
  min-height: 100vh;
  background-color: #9e9e9e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding: 50px;
}

.warning {
  background-color:rgb(22, 120, 120);
  min-width: 80%;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.warn-empty{
  background-color: #d50000;
}
.warn-add{
  background-color: rgb(56, 192, 56);
}
.warn-del{
  background-color: #d50000;
}

/*budget start*/

.budgetContainer {
  margin: 50px;
  padding: 20px 20px 40px 20px;
  background-color: white;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.budgetInputContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.budgetInput {
  width: 45%;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.budgetInput label {
  color: gray;
}

.budgetInput input {
  border: none;
  border-bottom: solid 1px #9e9e9e;
  padding: 10px 0;
  font-size: 15px;
}

.budgetInput input:focus {
  outline: none;
}

.btn-submit {  
  padding-left: 1rem;
  cursor: pointer;
  background-color: #f15025;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 10px;
}

.btn-submit:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn-icon{
  margin: 0.7rem;
  font-size: 1.2rem;
}

    /*budgetList start*/

.budgetList{
  width: 90%;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: solid .1px rgb(238, 221, 221);
  padding: 10px 20px;
  font-size: 1.2rem;
  transition: 0.7s;  
}

.budgetList:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.budgetList p{
  display: flex;
  align-items: center;
}

.budgetList .amountList{
  padding: 5px 20px;
  background-color: #f15025;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: none;  
}

.budgetList button{
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn-icon-delete{
  color: #d50000;
  margin-left: .5rem;
  
}
.btn-icon-create{
  color: #4caf50;
}

    /*budgetList end*/

/*budget end*/